/* .ant-layout-sider-collapsed, .ant-layout-sider-collapsed > *{ */
/* width: 80px !important; */
/* min-width: 80px !important; */
/* max-width: 80px !important; */
/* } */
/* .ant-layout-sider-collapsed .ant-layout-content { */
/* display: block; */
/* } */
