@font-face {
  font-family: 'Trajan';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Trajan.woff') format('woff');
}
.text-primary, .primary {
  color: #107cbc;
}
.bg-primary {
  background: #107cbc;
}
.bg-primary-lightest {
  background: #ddf0fe;
}
.bg-primary-light {
  background: #1392dd;
}
.bg-primary-dark {
  background: #0e6ca5;
}
.bg-secondary {
  background: #5686ab;
}
.bg-dark {
  background: #07232f;
}
.hover-underline:hover {
  text-decoration: underline;
}
body {
  font-family: arial;
  font-size: 13px;
}
a.link {
  font-family: Trajan, arial;
}
a {
  font-family: arial;
  font-size: 13px;
}
a.default {
  color: #777;
}
html, body, :global(#__next) {
  height: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.img-container {
  overflow: hidden;
  text-align: center;
  border: solid 1px #eee;
  padding: 5px;
  background: #fff;
  border-radius: 3px;
}
.img-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Echart */
.echarts-for-react > div {
  width: auto !important;
}

/* Antd */
.slick-dots li button {
  background: #aaa !important;
}
.slick-dots li.slick-active button {
  background: #09f !important;
}
.ant-layout-sider-collapsed, .ant-layout-sider-collapsed > *{
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}
.ant-layout-sider-collapsed .ant-layout-content {
  display: none;
}
.ql-container {
  height: auto !important;
}
.ql-editor {
  min-height: 200px !important;
  max-height: 300px;
  overflow: hidden;
}
.ant-form-item {
  margin-bottom: 0 !important;
}
a:hover {
  /*color: #1890ff;*/ /* default */
  /*color: #b58115; /* gold */
}
.ant-tabs {
  overflow: visible;
}
.ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-submenu-selected, .ant-menu-horizontal>.ant-menu-submenu:hover {
  border-bottom: 2px solid #107cbc;
  color: #107cbc;
}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item>a {
  color: hsla(0,0%,100%,.85);
}
.ant-tree li ul {
  padding: 0 0 0 12px;
}
.ant-tree-title {
  display: inline-block;
  white-space: normal;
  font-size: 13px;
  line-height: 14px;
  width: calc(100% - 22px);
  padding-top: 3px;
}
.ant-tree li .ant-tree-node-content-wrapper {
  display: inline-table;
}
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-node-content-wrapper:hover:before, .ant-tree.ant-tree-directory>li span.ant-tree-node-content-wrapper:hover:before {
  height: 100%;
  width: 100%;
}
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-node-content-wrapper, .ant-tree.ant-tree-directory>li span.ant-tree-node-content-wrapper {
  position: relative;
}
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-node-content-wrapper, .ant-tree.ant-tree-directory>li span.ant-tree-node-content-wrapper {
  overflow: hidden;
  width: 100%;
  /*width: calc(100% - 24px);*/
}
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-node-content-wrapper:before, .ant-tree.ant-tree-directory>li span.ant-tree-node-content-wrapper:before {
  height: 100%;
}
.ant-tree.ant-tree-directory .ant-tree-child-tree>li span.ant-tree-switcher, .ant-tree.ant-tree-directory>li span.ant-tree-switcher {
  display: none;
}
.navbar-search .ant-input {
  border-radius: 20px;
  background: #fff;
  padding: 0 10px;
  height: 26px;
  font-size: 13px;
}

/** Header Menu */
.header-menu .ant-menu-item > a:hover, .header-menu .ant-menu-submenu > .ant-menu-submenu-title:hover {
  color: #0d4f75;
}
.header-menu .ant-menu-item > a, .header-menu .ant-menu-submenu > .ant-menu-submenu-title {
  color: #107cbc;
}

/* DEBUG */
.ReactTable .rt-thead.-filters {
  display: none
}
.ant-menu-submenu > .ant-menu {
  background: #fff;
}
.ant-menu-horizontal {
  line-height: 36px;
}
