.ant-layout-sider-collapsed, .ant-layout-sider-collapsed > *{
  width: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
}
.ant-layout-sider-collapsed .ant-layout-content {
  display: none;
}
